{
  "extends": [
    "eslint:recommended",
    "plugin:security/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["security"],
  "parser": "@babel/eslint-parser",
  "env": { "browser": true, "node": true, "es6": true },
  "rules": {
    "no-console": "warn"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:security/recommended",
        "plugin:prettier/recommended"
      ],
      "plugins": ["@typescript-eslint"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        "@typescript-eslint/no-unused-vars": "off"
      }
    }
  ]
}
